<div class="vs">
  <%= image_tag 'VS.png' %>
  <div>
    <a href="<%= pages_batman_path %>" class="batimitad"></a>
    <div class="panel panel-default arriba">
      <div class="panel-heading list-group-item">Votar por Superman<span class="badge">Votos <%= @superman.count %></span></div>
      <div class="panel-body">
        <%= form_tag(pages_save_superman_path) do %>
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre</label>
            <%= text_field_tag "name",nil, placeholder: "ingrese nombre", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <%= email_field_tag "email",nil, placeholder: "ingrese email", class: "form-control" %>
          </div>
          <%= submit_tag "Votar", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <a href="<%= pages_superman_path%>" class="supermitad"></a>
    <div class="panel panel-default delado">
      <div class="panel-heading list-group-item">Votar por Batman<span class="badge">Votos <%= @batman.count %></span></div>
      <div class="panel-body">
        <%= form_tag(pages_save_batman_path) do %>
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre</label>
            <%= text_field_tag "name",nil, placeholder: "ingrese nombre", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <%= email_field_tag "email",nil, placeholder: "ingrese email", class: "form-control" %>
          </div>
          <%= submit_tag "Votar", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
